#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(
      135deg,
      rgba(107, 54, 219, 0.88),
      rgba(0, 17, 118, 0.88)
    ),
    linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.32)),
    url("https://images.unsplash.com/photo-1543839482-a95d35fc5a77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  transition: filter 0.32s ease-in-out;
}
#root:after {
  content: "";
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.16);
  z-index: -1;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 32px 32px 12px 32px;
}
@media (max-width: 424px) {
  .controls {
    flex-direction: column;
    margin: 18px 18px 12px 18px;
  }
}

.list {
  color: #656565;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px 0px 0px 32px;
  padding: 20px 0px 0px;
}
@media (max-width: 424px) {
  .list {
    margin-left: 18px;
  }
}

.list li {
  color: #989898;
  width: calc(25% - 32px);
  margin: 0px 32px 32px 0px;
  padding: 20px;
  border-radius: 1vw;
  box-shadow: 0px 2px 44px -16px rgba(0, 0, 0, 0.44);
  transition: -webkit-transform 0.17s;
  transition: transform 0.17s;
  transition: transform 0.17s, -webkit-transform 0.17s;
  cursor: pointer;
}
.list li:hover {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}
.list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.list h2 {
  line-height: 44px;
  margin: 0px;
  font-weight: 800;
  color: black;
}
.list img {
  display: block;
  width: 44px;
  height: 44px;
}
.list .proximity {
  color: #00a97d;
}
@media (max-width: 1210px) {
  .list li {
    width: calc(33.3333% - 32px);
  }
}
@media (max-width: 980px) {
  .list li {
    width: calc(50% - 32px);
  }
}
@media (max-width: 720px) {
  .list {
    flex-direction: column;
  }
  .list li {
    width: calc(100% - 32px);
  }
}

.App {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 16, 51, 0.62)
    ),
    url("https://images.unsplash.com/photo-1485254767195-60704c46702e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  background-position: top center;
}

.stations {
  display: block;
  width: 84%;
  height: 500px;
  background: white;
  z-index: 5;
  position: absolute;
  top: 10vh;
  height: 75vh;
  left: 5%;
  border-radius: 5vw;
}

.pulse-item {
  background: #bbbbff;
  height: 24vh;
  animation: pulse 0.65s infinite alternate;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.64;
  }
}
